
.form_login {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    padding: 1.2em;
    width: 350px;
    margin: 30px auto 0;
    align-items: center;
}

.form_login > label {
    grid-column: labels;
    grid-row: auto;
    font-size: 1.4em;
}

.form_login > input {
    grid-column: controls;
    grid-row: auto;
}


.form_login > button {
    grid-column: span 2;
    background: #007bff;
    border: #007bff;
    border-radius: 25px;
    padding: 3px 0;
    margin-top: 10px;
    font-size: 1.4em;
}

.form_login > .form_title {
    grid-column: controls;
    grid-row: auto;
    font-size: 1.7em;
    margin-bottom: 30px;
}

.form_error {
    grid-column: 1/3;
    color: coral;
    font-size: 1.3em;
    align-self: center;
    justify-self: center;
    margin-bottom: 10px;
}

.user_name {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 50px 0 0;
    border-bottom: 1px solid #3dd5f3;
}

.user_container {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    justify-content: center;
    grid-template-columns: 40px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 100px 100px;
    align-items: center;
}

.user_container * {
    text-align: center;
}

.user_add {
    display: flex;
    justify-content: end;
    padding: 0 100px 50px 0;
    font-size: 1.2em;
}

.user_container.header {
    font-size: 1.3em;
    text-align: center;
}

.form_login p {
    grid-column: 1/-1;
    color: coral;
}

.main_error {
    display: grid;
    height: 100vh;
}

.error_container {
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 900px;
    margin: 100px auto;
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: coral;
}

.error_text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.error_text a {
    padding: 0 20px;
}

.sup_product_container {
    display: grid;
    grid-template-columns: 50px 150px 100px 150px 40px 300px 80px 65px;
    align-content: center;
    justify-content: center;
    grid-gap: 0 10px;
    margin: 0 auto;
    padding: 0 80px;
}

.sup_product_container > div {
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
}


.sup_product_container.header {
    font-size: 1.4em;
    border-bottom: 1px solid #3dd5f3;
}

.sup_product_add {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: end;
    align-content: center;
}

.sup_product_add_result {
    text-align: center;
}

.form_product_add {
    text-align: center;
}


