<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-light">

<div class="container-fluid ">
    <div class="row bg-primary">
        <h2 class="text-dark text-center">Система керування товарами</h2>
    </div>
    <div class="row " sec:authorize="isAuthenticated()">
          <span class="user_name col align-self-end">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <h4><span th:text="'Вытаю, ' + ${userApp.getUserFirstName()}"></span> | <a href="#"
                                                                                                       onclick="document.forms['logoutForm'].submit()"
                                                                                                       style="color: #0dcaf0">Вийти</a></h4>
            </form>
            </span>

    </div>
    <div class="row ">
        <nav class="nav">
            <a class="nav-link link-primary" th:href="@{/}">Домашня</a>
            <a class="nav-link link-primary" th:href="@{/order}">Звіт парсингу</a>
            <a class="nav-link link-primary" th:href="@{/supplier}">Дані постачальників</a>
            <a class="nav-link link-primary" th:href="@{/supplieroc}">Дані постачальників Opencart</a>
            <a class="nav-link link-primary" th:href="@{/opencart}">Дані Opencart</a>
            <p sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link link-primary" th:href="@{/user}">Користувачі</a>
            </p>
        </nav>
    </div>
    <div class="row">
        <nav class="nav border-top border-bottom border-success mt-4">
            <a class="nav-link link-info" th:href="@{/opencart/attr}">Атрибути</a>
        </nav>
        <div class="row">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline" th:action="@{/opencart/attr}" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Знайти" aria-label="Search"
                           name="search">
                    <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Знайти</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="input-group" th:each="a , idx: ${attr}">
            <div class="col-1 h5 text-center" th:text="${idx.index + 1}"></div>
            <div class="col-11 h4"><a th:text="${a.getName()}" th:href="@{/opencart/attr/{attrid}(attrid=${a.getId()})}"></a></div>
        </div>
    </div>
    <div class="row fixed-bottom text-center bg-primary">
        <h5>&copy centur</h5>
    </div>
</div>

</body>
</html>